$headerHeight: 30px;
$border: 1px solid lightgrey;
$padding: 3px;

%box-sizing {
    box-sizing: border-box;
}

.react-grid {
    @extend %box-sizing;

    position: relative;
    border: $border;

    .react-grid-header {
        @extend %box-sizing;
        display: flex;
        height: $headerHeight;
        width: calc(100% - var(--scroll-bar-size));
        border-right: $border;
        border-bottom: $border;
        overflow: hidden;

        .react-grid-header-cell {
            @extend %box-sizing;
            height: $headerHeight;
            padding: $padding;
            border-right: $border;
            flex-shrink: 0;

            &:last-child {
                border-right: unset;
            }
        }
    }

    .react-grid-content {
        position: relative;
        overflow: scroll;
        height: calc(100% - #{$headerHeight});

        .react-grid-row {
            @extend %box-sizing;
            display: flex;
            height: 30px;

            .react-grid-cell {
                @extend %box-sizing;
                padding: $padding;
                border-bottom: $border;
                border-right: $border;
                flex-shrink: 0;
            }
        }
    }

    .react-grid-mask-container {
        position: absolute;
        height: 30px;
        box-sizing: border-box;
        z-index: 1;
        // opacity: 0.9;
        border: none;

        .react-grid-mask {
            border: 2px solid #1d94f3c7;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
        }

        input {
            @extend %box-sizing;
            width: 100%;
            height: 100%;
            border: 1px solid #1d94f3c7;
            border-radius: 5px;
            padding: 5px;
        }
    }
}